body{
    background-color: cornsilk;
}
h1{
    color: #454545;
    font-size: 40px;
    
}

.center {
    margin: auto;
    width: 30%;
   
  }
img{
    float: right;
}
.menu{
    text-align: center;
}